<h3>以下の内容で、送信する。</h3>

<%= form_with(model: @igcl, url: igcls_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>


  <p>タイトル:<%= @igcl.title %></p>
  <p>本文:<%= @igcl.content %></p>
  <p>画像<%= image_tag @igcl.image %></p>
  <%= hidden_field_tag :"cache[image]",@igcl.image.cache_name %>
  <%= form.submit  " 投稿する", class: 'btn btn-warning actions'%>
<% end %>

<%= form_with(model: @igcl, url: new_igcl_path, local: true, method: 'get') do |form| %>
  <%= hidden_field_tag :"cache[image]",@igcl.image.cache_name %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.submit "もどる", name: 'back' , class: 'btn btn-default actions'%>
<% end %>