<h2>お気に入り一覧</h2>
<% @favorites.each do |favorite_igcl| %>
  <table>
    <tr>
      <th>画像</th>
      <td><%= image_tag favorite_igcl.image %></td>
    </tr>
    <tr>
      <th>タイトル</th>
      <td><%= favorite_igcl.title %></td>
    </tr>
    <tr>
      <th>内容</th>
      <td><%= favorite_igcl.content %></td>
    </tr>
    <tr>
      <th>投稿者</th>
      <td><%= favorite_igcl.user.name%></td>
    </tr>
  </table>
  <br>
<% end %>

<%= link_to "ユーザーページへ戻る", user_path(current_user.id), class: "actions" %>
