<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>


<p>お気に入り一覧</p>
<% @favorites_igcls.each do |favorite_igcl| %>
  <tr>
    <td>タイトル:<%= favorite_igcl.title %></td>
    <td>内容:<%= favorite_igcl.content %></td>
    <td>投稿者:<%= favorite_igcl.user.name%>
    <td><%= link_to '詳細を確認する', igcl_path(favorite_igcl.id) %></td>
  </tr>
<% end %>
